<?xml version="1.0"?>

<launch>
   <arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor.gazebo.xacro" />

   <group ns="uav1">
     <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor_with_kinect.launch">
       <arg name="name" value="uav1" />
       <arg name="tf_prefix" value="uav1" />
       <arg name="model" value="$(arg model)" />
       <arg name="y" value="-0.5" />
       <arg name="x" value="-10.0" />
     </include>


     <!-- <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
    <remap from="cloud_in" to="uav1/camera/depth/points"/>
    <remap from="scan" to="scan"/>

    <param name="min_height" value="0.3"/>
    <param name="max_height" value="1.7"/>
    <param name="latch" value="false"/>
    <param name="range_min" value="0.2"/>
    <!-<!-<param name="target_frame" value="$(arg tf_prefix)/camera_link"/> -> 
    <param name="use_inf" value="true" />
  </node>  -->


<!-- 
     <include file="$(find caltech_samaritan)/launch/octomap_server.launch" >
      <arg name="tf_prefix" value="uav1" />
     </include> -->
   </group>

   <group ns="uav2">
     <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor_with_kinect.launch">
       <arg name="name" value="uav2" />
       <arg name="tf_prefix" value="uav2" />
       <arg name="model" value="$(arg model)" />
       <arg name="y" value="0.5" />
       <arg name="x" value="-10.0" />
       <!-- <arg name="yaw" value="1.72"/> -->
     </include>


    <!--  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
    <remap from="cloud_in" to="uav2/camera/depth/points"/>
    <remap from="scan" to="scan"/>

    <param name="min_height" value="0.3"/>
    <param name="max_height" value="1.7"/>
    <param name="latch" value="false"/>
    <param name="range_min" value="0.2"/>
     <param name="target_frame" value="$(arg tf_prefix)/camera_link"/> 
    <param name="use_inf" value="true" />
  </node>  -->
     
    <!--  <include file="$(find caltech_samaritan)/launch/navigation.launch">
       <!- <arg name="name" value="uav2" /> ->
       <arg name="tf_prefix" value="uav2" />
       <arg name="odom_topic" value="ground_truth/state" />
       <arg name="depth_topic" value="camera/depth/points" />
       <arg name="laser_topic" value="camera/scan" />
       <arg name="target_frame" value="camera_link"/>
       <arg name="planned_cmd_vel_topic" value="planned_cmd_vel" />
     </include>
     <include file="$(find caltech_samaritan)/launch/octomap_server.launch" >
      <arg name="tf_prefix" value="uav2" />
     </include> -->
   </group>



   <include file="$(find caltech_samaritan)/launch/octomap_server.launch" >
   </include>

   
   <!-- <node pkg="tf" type="static_transform_publisher" name="map_tf_publisher" args="0 0 0 0 0 0 1 map world 50" /> -->


   <!-- <include file="$(find mapm_erge_3d)/launch/map_merge.launch" /> -->
   

   
   <!-- <node pkg="pcl_ros" type="pcd_to_pointcloud" name="uav1_publisher" args="$(arg pcd1) 2" output="screen">
    <param name="frame_id" value="robot1"/>
    <remap from="cloud_pcd" to="/robot1/map"/>
  </node>
  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="robot2_publisher" args="$(arg pcd2) 2" output="screen">
    <param name="frame_id" value="robot2"/>
    <remap from="cloud_pcd" to="/robot2/map"/>
  </node> -->

</launch>

