<?xml version="1.0"?>

<launch>

    <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server_master" output="screen">
        <param name="resolution" value="0.35"/>

        <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
        <param name="frame_id" type="string" value="map"/>

        <!-- maximum range to integrate (speedup!) -->
        <param name="sensor_model/max_range" value="15.0"/>

        <param name="filter_ground" value="true" />

        <!-- cut off the floor to make 2d projection better -->
        <param name="occupancy_min_z" value="-1000.0"/> 

        <!-- data source to integrate (PointCloud2) -->
        <remap from="cloud_in" to="/camera/depth/points"/>
        <param name="base_frame_id" value="map" />
        
        <!-- remap projected_map to map -->
        <remap from="projected_map" to="map_2d"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="master_map_to_world_tf_publisher" args="0 0 0 0 0 0 1 map world 50" />

</launch>
