<launch>

    <!-- <rosparam param="use_sim_time">true</rosparam> -->

    <!-- Start Gazebo with wg world running in (max) realtime -->
    <!-- <include file="$(find hector_gazebo_worlds)/launch/start.launch">
        <arg name="gui" value="true"/>
        <arg name="world" value="$(find caltech_samaritan)/worlds/m2wr_house.world"/>

    </include>
 -->
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find caltech_samaritan)/worlds/small_house.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>  --> 



    <arg name="x" default="-7.0"/>
    <arg name="y" default="-3.0"/>
    <arg name="z" default="0.0"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find caltech_samaritan)/worlds/m2wr_house.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Spawn simulated quadrotor uav -->
    <!-- <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor_with_kinect.launch"/> -->

    <!-- Activate the quadrotor motors -->
    <!-- <node pkg="rosservice" type="rosservice" name="motors_activator" -->
          <!-- args="call wait /enable_motors &quot;enable: true&quot;"/> -->

    <!-- Start rviz visualization with preset config -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find caltech_samaritan)/rviz/depth_slam_octomap.rviz"/> -->

    <!-- Start OctoMap server to generate voxel occupancy grid and a projected 2d occupancy grid -->
    <!-- <include file="$(find caltech_samaritan)/launch/octomap_server.launch"/> -->

    <!-- Start the navigation stack -->
    <!-- <include file="$(find caltech_samaritan)/launch/navigation.launch"/> -->

</launch>
